<div class="card">
  <div class="header flex justify-content-between align-items-center mb-2">
    <h2>List of Candidates</h2>
    <p-button label="Create Profile" [raised]="true" severity="success" (click)="navigateTo('candidates/create')"><i class="pi pi-plus"></i></p-button>
  </div>

  <div class="mb-3" style="max-width: 300px;">
    <p-iconfield>
      <p-inputicon class="pi pi-search"></p-inputicon>
      <input
        type="text"
        pInputText
        placeholder="Search candidates"
        (input)="dt1.filterGlobal($event.target.value, 'contains')"
      />
    </p-iconfield>
  </div>

  <p-table
    #dt1
    [value]="candidateList"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['name','currentAddress','emailAddress','contactNumber','jobLocationDesired','jobVertical','totalYearsOfExperience']"
    [scrollable]="true"
    [responsiveLayout]="'scroll'">
    <!--    [rowsPerPageOptions]="[10, 25, 50]" -->
    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th>Action</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="currentAddress">Current Address <p-sortIcon field="currentAddress"></p-sortIcon></th>
        <th pSortableColumn="emailAddress">Email <p-sortIcon field="emailAddress"></p-sortIcon></th>
        <th pSortableColumn="contactNumber">Contact <p-sortIcon field="contactNumber"></p-sortIcon></th>
        <th pSortableColumn="jobLocationDesired">Location <p-sortIcon field="jobLocationDesired"></p-sortIcon></th>
        <th pSortableColumn="jobVertical">Vertical <p-sortIcon field="jobVertical"></p-sortIcon></th>
        <th pSortableColumn="totalYearsOfExperience">Experience <p-sortIcon field="totalYearsOfExperience"></p-sortIcon></th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-candidate>
      <tr (click)="navigateToView(candidate.id)" class="tr-hover">
        <td (click)="$event.stopPropagation()"><p-splitbutton label="" dropdownIcon="pi pi-cog" [model]="items" /></td>
        <td tooltipPosition="top">{{ candidate.name }}</td>
        <td tooltipPosition="top">{{ candidate.currentAddress }}</td>
        <td tooltipPosition="top">{{ candidate.emailAddress }}</td>
        <td tooltipPosition="top">{{ candidate.contactNumber }}</td>
        <td tooltipPosition="top">{{ candidate.jobLocationDesired }}</td>
        <td tooltipPosition="top">{{ candidate.jobVertical }}</td>
        <td tooltipPosition="top">{{ candidate.totalYearsOfExperience }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No candidates found.</td>
      </tr>
    </ng-template>

  </p-table>
</div>
