.right {
  float: right;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
}

.p-table {
  width: 100%;
  table-layout: auto;
}

.p-table th,
.p-table td {
  text-align: left;
  padding: 0.5rem 1rem;
}

.truncate-text {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.tr-hover {
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease, font-weight 0.2s ease;
}

.tr-hover:hover {
  background-color: #f5f5f5;
  color: #333;
}

.scrollable {
  overflow-x: auto;
  height: 80px;
}

button.resume-btn.p-disabled {
  cursor: default !important;
  opacity: 1 !important;
}
