.form-container {
  max-width: 90vw;
  margin: 5px  20px;
  padding: 25px 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.header h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.form-container h2{
  margin-bottom: 10px;
}

.candidate-form, .basic-form, .experience-entry {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basic-form, .experience-entry{
  gap: 15px;
}

button.p-button-danger,
button.p-button-primary {
  margin: 10px 0;
  width: 180px; /* 👈 fixed width for consistency */
  display: flex;
  justify-content: center;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-weight: 500;
  font-size: 0.95rem;
  color: #333;
}

.form-group input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #007ad9;
  box-shadow: 0 0 5px rgba(0, 122, 217, 0.3);
  outline: none;
}

p-fileUpload {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

button.p-button-success {
  min-width: 140px;
}

.experience-entry{
  gap: 20px;
}
