<div class="card">
  <div class="header flex justify-content-between align-items-center mb-2">
    <h2>List of Job Details</h2>
    <p-button label="Create Jobs" [raised]="true" severity="success" (click)="navigateTo('job-details/create')">
      <i class="pi pi-plus"></i>
    </p-button>
  </div>

  <div class="mb-3" style="max-width: 500px;">
    <div class="flex gap-2">
      <p-iconfield style="flex: 1;">
        <p-inputicon class="pi pi-search"></p-inputicon>
        <input
          type="text"
          pInputText
          placeholder="Search by Clients or Title"
          (input)="dt1.filterGlobal($event.target.value, 'contains')"
        />
      </p-iconfield>
    </div>
  </div>

  <div class="table-responsive">
    <p-table
      #dt1
      [value]="jobList"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="['title','clientName']"
      [scrollable]="true"
      [responsiveLayout]="'scroll'">

      <ng-template pTemplate="header">
        <tr>
          <th>Action</th>
          <th pSortableColumn="title">Title
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="clientId">Client Name
            <p-sortIcon field="clientId"></p-sortIcon>
          </th>
          <th pSortableColumn="createdDate">Created Date
            <p-sortIcon field="createdDate"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status
            <p-sortIcon field="status"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-job>
        <tr (click)="navigateToView(job.id)" class="tr-hover">
          <td (click)="$event.stopPropagation()">
            <button
              pButton
              type="button"
              icon="pi pi-cog"
              class="p-button-rounded p-button-text"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu
              #menu
              [popup]="true"
              [model]="job.items"
              appendTo="body"
            ></p-menu>
          </td>
          <td>
            <div class="truncate-text">{{ job.title }}</div>
          </td>
          <td>
            <div class="truncate-text">{{ job.clientName }}</div>
          </td>
          <td>
            <div class="truncate-text">{{ job.createdDate }}</div>
          </td>
          <td>
            <div class="truncate-text">{{ job.status }}</div>
          </td>


        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No clients found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
